@font-face {
  font-family: "sucrose";
  src: url("/assets/fonts/1388-font.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sucrose", sans-serif;
  z-index: 1;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.main-content {
  background-image: url(../img/Background/BG\ phông.png);
}

.bg-blue {
  background-color: #073184;
}

.text-blue {
  color: #073184;
}

.main-border {
  text-align: center;
  display: inline-block;
  padding: 30px;

  border: solid 4px black;
  position: relative;
}

.main-border:before {
  content: "";
  border: solid 4px #073184;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100%);
  height: calc(100%);
}

.main-border:after {
  content: "";
  border: solid 4px black;
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}

.button-shadow {
  box-shadow: 18px 18px 17px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 18px 18px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 18px 17px -3px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out;
}

.button-shadow:hover {
  transform: translateY(-8px);
}

.button-shadow:active {
  transform: scale(0.96);
}
